/* Feel free to change me and make me your own! */

body {
  background-color: #7ae5ef; 
  font-family: Georgia, serif; 
  background-image: url("https://doomipeikko.github.io/datathink/docs/img/bg.png");
  background-repeat: repeat;
}
nav {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  font: 120% system-ui;
  text-align: center;
  padding: 2rem 1rem;
  font-family:Impact,Georgia;
}
a:link {
  text-decoration: none;
  color: #000000;
}
a:hover {
  font-weight: 900;
  color: #0461b8;
}
a:visited {
  color: #000000;
}
a:active {
  color: #000000;
}
article {
  margin-left: 10vw; 
  margin-right: 10vw; 
  background-color: #ffffff; 
}

h1 {
  font-size: 48px; 
  font-family: Impact, Georgia, serif;
}

h2 {
  font-size: 36px; 
}

p {
  font-size: 20px;
  background-color: #ffffff; 
}

.result {
  width: 70%;
  border: 1px solid black;
}

ul {
  font-size: 20px; 
  list-style-type: square; 
}

code {
 font-family: 'Courier New', monospace;
  background-color: #ffffff; 
  width: 70%;
  border: 1px solid black;
}

footer{
  text-align: center; 
}

.copyright {
  border-top: 1px solid black;
  display: flex;
  margin: auto;
  padding: 10px;
}

img.copyright_logo {
  width: 1vw;
  margin:.15vw;
}

.course-logo {
  width: 35vw;
}
