/* Feel free to change me and make me your own! */

body {
  background-color: #7ae5ef; 
  font-family: Georgia, serif; 
  background-image: url("https://doomipeikko.github.io/datathink/docs/img/bg.png");
  background-repeat: repeat;
}
}

article {
  margin-left: 10vw; 
  margin-right: 10vw; 
  background-color: #ffffff; 
}

h1 {
  font-size: 48px; 
  font-family: Impact, Georgia, serif;
}

h2 {
  font-size: 36px; 
}

p {
  font-size: 20px; 
}

div {
  background-color: #ffffff; 
  width: 70%;
  border: 1px solid black;
}

ul {
  font-size: 20px; 
  list-style-type: square; 
}

code {
 font-family: 'Courier New', monospace; 
}

footer{
  text-align: center; 
}

.copyright {
  border-top: 1px solid black;
  display: flex;
  margin: auto;
  padding: 10px;
}

img.copyright_logo {
  width: 1vw;
  margin:.15vw;
}

.course-logo {
  width: 35vw;
}
